{% extends "base.html" %}

{% block content %}
<h1>Выберите понравившийся объект</h1>


<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="{{img1}}" alt="Картинка не нашлась" class="flipping_image">
                </div>
                <div class="flip-box-back">
                    <p>{{inf1}}</p>
                </div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="{{img2}}" alt="Картинка не нашлась" class="flipping_image">
                </div>
                <div class="flip-box-back">
                    <p>{{inf2}} </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<form method="post">
    <fieldset id="group1">
        <input type="radio" value="{{id1}}" name="group1" checked="checked">
        <input type="radio" value="{{id2}}" name="group1">
    </fieldset>
    <p>
        <input type="submit" value="Подтвердить">
    </p>
</form>
</body>


{% if choose_image %}
Похожие объекты

    {% for object_name in similar %}
        <p> {{object_name}} </p>
    {% endfor %}

    <a href="/show_map" target="_blank"  rel="noopener noreferrer">
        <input type="submit" id="show_on_map" value="Показать на карте">
    </a>

{% endif %}

{% endblock %}
