{% extends "base.html" %}

{% block content %}
    <img src="{{image_name}}" alt="Изображение не найдено">
    <p>{{session['address']}}</p>
<div>
    <form method="post">
        <fieldset id="group1">
            <input type="radio" value="map" name="group2" checked="checked">
            <p> Схема </p>
            <input type="radio" value="sat" name="group2">
            <p> Спутник </p>
            <input type="radio" value="sat,skl" name="group2">
            <p> Гибрид </p>
        </fieldset>
        <p>
            <input type="submit" value="Подтвердить">
        </p>
    </form>
</div>

{% endblock %}
